
<div class="row profile-toko">

<div class="span3 logo-toko">
  <%= image_tag @store.pic, class: "img-polaroid", alt: "photo" %>
</div> <!-- end logo toko -->

<div class="span4 desc-toko">

  <h4><%= @store.name %></h4>

  <p><%= @store.description %></p>

  <% if user_signed_in? %>
    <% if current_user && current_user.following_store?(@store) %>
      <p><%= link_to '<i class="icon-thumbs-down"></i> Unfollow'.html_safe, unfollow_store_path(@store), class: 'btn btn-info pull-right', method: 'delete' %></p>
    <% else %>
      <p><%= link_to '<i class="icon-thumbs-up"></i> Follow'.html_safe, follow_store_path(@store), class: 'btn btn-warning pull-right', method: 'post' %></p>
    <% end %>

  <% else %>
    <p><%= link_to '<i class="icon-thumbs-up"></i> Sign in to follow this store'.html_safe, new_user_session_path, class: 'btn btn-info pull-right' %></p>
  <% end %>  

</div> <!-- end desc-toko -->

<div class="span4 desc-toko information">

  <h4>Informasi</h4>

  <p><b>Info  : </b><%= @store.info1 %></p>
  <p><b>Phone : </b><%= @store.phone1 %></p>
  <p><b>Views : </b><%= @store.page_view %> times</p>

  <p><%= @store.info2 %></p>

</div> <!-- end desc-toko info -->

</div> <!-- row -->

<div class="row">

<div class="span12 market title">
  <h4>Products Catalog<h4>
</div>

<% @store.products && @store.products.latest.each do |product| %>

  <div class="span2 market">
    <%= link_to image_tag(product.pic), product %>
    <p>
      <%= product.name %><br><span>Rp <%= number_with_precision(product.price, :precision => 2) %></span>
    </p>
  </div>

<% end %>

</div><!-- end row -->
