
  <div class="message">
    <%= f.error_notification %>
  </div>

  <div class="message">
    <div class="control-group string required store_name">
      <label class="string required control-label" for="store_name">
        Market
      </label>
      <div class="controls">
        <%= f.select :market_id, @markets.map {|r| [r.name,r.id] } %>
      </div>
    </div>
  </div>

  <div class="message">
    <div class="control-group string required store_name">
      <label class="string required control-label" for="store_name">
        Store Type
      </label>
      <div class="controls">
        <%= f.select :store_type, [:free, :paid, :featured] %>
      </div>
    </div>
  </div>

  <div class="message">
    <div class="control-group">
      <label class="control-label">
        Category
      </label>
      <div class="controls">
        <%= f.collection_select :category_ids, Category.where(:cat_type => 'Store'), :id, :name, {}, :multiple => true  %>
      </div>
    </div>
  </div>

  <div class="message">
    <%= f.input :name %>
  </div>
  <div class="message">
    <%= f.input :street1 %>
  </div>
  <div class="message">
    <%= f.input :street2 %>
  </div>
  <div class="message">
    <%= f.input :city %>
  </div>
  <div class="message">
    <%= f.input :postal_code %>
  </div>
  <div class="message">
    <%= f.input :phone1 %>
  </div>
  <div class="message">
    <%= f.input :phone2 %>
  </div>
  <div class="message">
    <label class="string required control-label" for="store_pic">
      Picture
    </label>
    <div class="controls">
      <%= f.file_field :pic %>
    </div>
  </div>
  
  <div class="message">
    <label class="control-label">Description</label>
    <%= f.text_area :description, :class => "tinymce", :rows => 20, :cols => 60 %>
  </div>
  <div class="message">
    <label class="control-label">Information</label>
    <%= f.text_area :info1, :class => "tinymce", :rows => 20, :cols => 60 %>
  </div>

  <div class="message form-actions">
    <p>
      <%= f.button :submit %>
    </p>
  </div>
