<article class="module width_full">
  <header><h3><%= @admin_category.name %></h3></header>

  <div class="">
    <div class="module_content">
      <div class="message">
        <p id="notice"><%= notice %></p>
      </div>
      <div class="message">
        <p>
          <b>Type:</b>
          <%= @admin_category.cat_type %>
        </p>
      </div>

      <div class="message">
        <p>
          <%= link_to 'Edit', edit_admin_category_path(@admin_category) %> |
          <%= link_to 'Back', admin_categories_path %>
        </p>
      </div>
    </div>
  </div>

</article><!-- end of stats article -->
