
  <div class="message">
    <%= f.error_notification %>
  </div>
  <div class="message">
    <%= f.input :name %>
  </div>
  <div class="message">
    <%= f.input :price %>
  </div>
  <div class="message">
    <%= f.input :logo_img %>
  </div>
  <div class="message">
    <%= f.input :description %>
  </div>
  <div class="message">
    <%= f.input :info1 %>
  </div>
  <div class="message">
    <%= f.input :status %>
  </div>

  <div class="message form-actions">
    <p>
      <%= f.button :submit %>
    </p>
  </div>
