
  <article class="module width_full">
    <header><h3><%= @admin_product.name %></h3></header>

    <div class="">
      <div class="module_content">
			
			<%= simple_form_for(@admin_product, :url => admin_product_path,
					:html => { :multipart => true } ) do |f| %>
					
				<%= render :partial => 'form', :locals => { :f => f } %>
			<% end %>	

		  <div class="message form-actions">
		    <p>
		      <%= link_to 'Show', admin_product_path(@admin_product) %> |
					<%= link_to 'Back', admin_products_path %>
		    </p>
		  </div>

      </div>
    </div>

  </article><!-- end of stats article -->
