
  <div class="message">
    <%= f.error_notification %>
  </div>
  <div class="message">
    <%= f.input :name %>
  </div>
  <div class="message">
    <%= f.input :title %>
  </div>
  <div class="message">
    <label class="control-label">Content</label>
    <%= f.text_area :content, :class => "tinymce", :rows => 20, :cols => 60 %>
  </div>

  <div class="message form-actions">
    <p>
      <%= f.button :submit %>
    </p>
  </div>

  