
  <div class="message">
    <%= f.error_notification %>
  </div>
  <div class="message">
    <%= f.input :name %>
  </div>
  <div class="message">
    <%= f.input :email %>
  </div>


  <div class="message">
    <%= f.input :email %>
  </div>
  <div class="message">
    <%= f.input :email %>
  </div>
  <div class="message">
    <%= f.input :email %>
  </div>


  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>

  <div class="message form-actions">
    <p>
      <%= f.button :submit %>
    </p>
  </div>
