
  <article class="module width_full">
    <header><h3><%= @user.name %></h3></header>

    <div class="">
      <div class="module_content">
			
			<%= simple_form_for(@user, :url => admin_user_path) do |f| %>
							
			  <div class="message">
			    <%= f.error_notification %>
			  </div>
			  <div class="message">
			    <%= f.input :name %>
			  </div>
			  <div class="message">
			    <%= f.input :email %>
			  </div>

			  <div class="message">
			    <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
			  </div>
			  <div class="message">
			    <%= f.input :password_confirmation, :required => false %>
			  </div>
			  <div class="message">
			    <%= f.input :password_confirmation, :required => false %>
			  </div>

			  <div class="message form-actions">
			    <p>
			      <%= f.button :submit %>
			    </p>
			  </div>

			<% end %>	

		  <div class="message form-actions">
		    <p>
		      <%= link_to 'Show', admin_user_path(@user) %> |
					<%= link_to 'Back', admin_users_path %>
		    </p>
		  </div>

      </div>
    </div>

  </article><!-- end of stats article -->
