
  <div class="message">
    <%= f.error_notification %>
  </div>
  <div class="message">
    <%= f.input :name %>
  </div>
  <div class="message">
    <%= f.input :street1 %>
  </div>
  <div class="message">
    <%= f.input :street2 %>
  </div>
  <div class="message">
    <%= f.input :city %>
  </div>
  <div class="message">
    <%= f.input :postal_code %>
  </div>
  <div class="message">
    <%= f.input :phone1 %>
  </div>
  <div class="message">
    <%= f.input :phone2 %>
  </div>

  <div class="message">
    <label class="control-label">Description</label>
    <%= f.text_area :description, :class => "tinymce", :rows => 20, :cols => 60 %>
  </div>
  <div class="message">
    <label class="control-label">Information</label>
    <%= f.text_area :info1, :class => "tinymce", :rows => 20, :cols => 60 %>
  </div>

  <div class="message form-actions">
    <p>
      <%= f.button :submit %>
    </p>
  </div>
