
  <article class="module width_full">
    <header><h3><%= @admin_market.name %></h3></header>

    <div class="">
      <div class="module_content">
			
			<%= simple_form_for(@admin_market, :url => admin_market_path) do |f| %>
				<%= render :partial => 'form', :locals => { :f => f } %>
			<% end %>	

		  <div class="message form-actions">
		    <p>
		      <%= link_to 'Show', admin_market_path(@admin_market) %> |
					<%= link_to 'Back', admin_markets_path %>
		    </p>
		  </div>

      </div>
    </div>

  </article><!-- end of stats article -->
