
<article class="module width_full">
<header><h3 class="tabs_involved">List Markets</h3></header>

<div class="tab_container">
  <table class="tablesorter" cellspacing="0"> 
    <thead> 
        <tr> 
            <th>Name</th>
            <th>City</th>
            <th>Info1</th>
            <th>Markets</th>
            <th></th>
        </tr> 
    </thead> 
    <tbody> 
      <% @admin_markets.each do |admin_market| %>
        <tr> 
            <td><%= admin_market.name %></td>
            <td><%= admin_market.city %></td>
            <td><%= admin_market.info1 %></td>
            <td><%= admin_market.stores.size %> </td>
            <td>
              <%= link_to 'Show', admin_market_path(admin_market) %> | 
              <%= link_to 'Edit', edit_admin_market_path(admin_market) %> |
              <%= link_to 'Destroy', admin_market_path(admin_market), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr> 
      <% end %>
    </tbody> 
  </table>
  <footer>
    <div class="submit_link">
      <%= link_to 'New Market', new_admin_market_path%>
    </div>
  </footer>
</div>
