<article class="module width_full">
  <header><h3><%= @admin_market.name %></h3></header>

  <div class="">
    <div class="module_content">
      <div class="message">
        <p id="notice"><%= notice %></p>
      </div>
      <div class="message">
        <p>
          <b>Street1:</b>
          <%= @admin_market.street1 %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Street2:</b>
          <%= @admin_market.street2 %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>City:</b>
          <%= @admin_market.city %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Postal code:</b>
          <%= @admin_market.postal_code %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Phone1:</b>
          <%= @admin_market.phone1 %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Phone2:</b>
          <%= @admin_market.phone2 %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Logo img:</b>
          <%= @admin_market.logo_img %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Description:</b>
          <%= @admin_market.description %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Info1:</b>
          <%= @admin_market.info1 %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Status:</b>
          <%= @admin_market.status %>
        </p>
      </div>

      <div class="message">
        <p>
          <%= link_to 'Edit', edit_admin_market_path(@admin_market) %> |
          <%= link_to 'Back', admin_markets_path %>
        </p>
      </div>
    </div>
  </div>

</article><!-- end of stats article -->
