<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_market.name %>
</p>

<p>
  <b>Street1:</b>
  <%= @admin_market.street1 %>
</p>

<p>
  <b>Street2:</b>
  <%= @admin_market.street2 %>
</p>

<p>
  <b>City:</b>
  <%= @admin_market.city %>
</p>

<p>
  <b>Postal code:</b>
  <%= @admin_market.postal_code %>
</p>

<p>
  <b>Phone1:</b>
  <%= @admin_market.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @admin_market.phone2 %>
</p>

<p>
  <b>Logo img:</b>
  <%= @admin_market.logo_img %>
</p>

<p>
  <b>Description:</b>
  <%= @admin_market.description %>
</p>

<p>
  <b>Info1:</b>
  <%= @admin_market.info1 %>
</p>

<p>
  <b>Page view:</b>
  <%= @admin_market.page_view %>
</p>

<p>
  <b>Status:</b>
  <%= @admin_market.status %>
</p>


<%= link_to 'Edit', edit_admin_market_path(@admin_market) %> |
<%= link_to 'Back', admin_markets_path %>
