<article class="module width_full">
  <header><h3><%= @admin_market.name %></h3></header>

  <div class="">
    <div class="module_content">
      <div class="message">
        <p id="notice"><%= notice %></p>
      </div>
      <div class="message">
        <p>
          <b>Street1:</b>
          <%= @admin_market.street1 %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Street2:</b>
          <%= @admin_market.street2 %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>City:</b>
          <%= @admin_market.city %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Postal code:</b>
          <%= @admin_market.postal_code %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Phone1:</b>
          <%= @admin_market.phone1 %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Phone2:</b>
          <%= @admin_market.phone2 %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Logo img:</b>
          <%= @admin_market.logo_img %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Description:</b>
          <%= @admin_market.description %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Info1:</b>
          <%= @admin_market.info1 %>
        </p>
      </div>
      <div class="message">
        <p>
          <b>Status:</b>
          <%= @admin_market.status %>
        </p>
      </div>

      <div class="message">
        <p>
          <%= link_to 'Edit', edit_admin_market_path(@admin_market) %> |
          <%= link_to 'Back', admin_markets_path %>
        </p>
      </div>
    </div>
  </div>

</article><!-- end of stats article -->



<article class="module width_full">
<header><h3 class="tabs_involved">List Stores</h3></header>

<div class="tab_container">
  <table class="tablesorter" cellspacing="0"> 
    <thead> 
        <tr> 
            <th>Market</th>
            <th>Category</th>
            <th>Name</th>
            <th>City</th>
            <th>Logo img</th>
            <th>Info1</th>
            <th></th>
        </tr> 
    </thead> 
    <tbody> 
      <% @admin_market.stores.each do |admin_store| %>
        <tr> 
            <td><%= admin_store.market && admin_store.market.name %></td>
            <td><%= admin_store.categories && admin_store.categories.first &&  admin_store.categories.collect(&:name).join(", ") %></td>
            <td><%= admin_store.name %></td>
            <td><%= admin_store.city %></td>
            <td><%= admin_store.logo_img %></td>
            <td><%= admin_store.info1 %></td>
            <td>
              <%= link_to 'Show', admin_store_path(admin_store) %> | 
              <%= link_to 'Edit', edit_admin_store_path(admin_store) %> |
              <%= link_to 'Destroy', admin_store_path(admin_store), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr> 
      <% end %>
    </tbody> 
  </table>
  <footer>
    <div class="submit_link">
      <%= link_to 'New Store', new_admin_store_path%>
    </div>
  </footer>
</div>
