<section class="info row">

  <h1 class="span3 logo bottom">
    <a href="#">
      <%= image_tag "logo-footer.png", alt: 'logo footer', class: '' %>
    </a>
  </h1> <!-- end logo bottom-->

  <div class="span3 column">
    <h6>Help & Support</h6>
    <ul class="nav">
      <li><a href="#">Aturan Main</a></li>
      <li><a href="#">Contact Support</a></li>
      <li><a href="#">Tentang AyoGrosir</a></li>
    </ul>
  </div><!-- end column -->

  <div class="span3 column">
    <h6>Find Us At</h6>
    <ul class="nav">
      <% @preferences.each do |pref| %>
        <% if pref.pref_key == 'twitter_username' %>
          <li>
            <strong>twitter.</strong>&nbsp;<a href="http://twitter.com/<%= pref.pref_value %>"><%= pref.pref_value %></a>
          </li>
        <% elsif pref.pref_key == 'fb_username' %>
          <li>
            <strong>fb.</strong>&nbsp;<a href="http://facebook.com/<%= pref.pref_value %>"><%= pref.pref_value %></a>
          </li>
        <% elsif pref.pref_key == 'email_support' %>
          <li>
            <strong>email.</strong>&nbsp;<a href="mailto:<%= pref.pref_value %>"><%= pref.pref_value %></a>
          </li>
        <% end %>  
      <% end %>
    </ul>
  </div><!-- end column -->

  <div class="span3 column">
    <h6>Hubungi Kami</h6>
    <ul class="nav">
      <li><strong>Alamat</strong></li>
      <% @preferences.each do |pref| %>
        <% if pref.pref_key == 'company_address' %>
          <%= pref.pref_value.html_safe %>
          <% break %>
        <% end %>  
      <% end %>
      
      <li>&nbsp;</li>

      <% @preferences.each do |pref| %>
        <% if pref.pref_key == 'company_phone' %>
          <li><strong>Phone.</strong>&nbsp;<%= pref.pref_value %></li>
          <% break %>
        <% end %>  
      <% end %>
    </ul>
  </div><!-- end column -->

</section><!-- end info -->

<div class="center">
  <p>2013&nbsp;&copy;&nbsp;Copyright <a href="#">AyoGrosir.com</a>. All Rights Reserved.</p>
</div>